{% if projets is empty %}
   <p> Aucun résultat trouvé. </p>

{% else %}
    {% for projet in projets %}
        <div class="row projet-liste">
            <div class="col-md-12">
                <div class="col-md-8">
                    <h2><a href="{{ path('projet_view',{id:projet.id}) }}"> {{ projet.titre }}</a></h2>
                    <p>Ajouté par : {{ projet.user.username }}</p>
                    <p>Langage principal :
                        <button type="button" class="btn btn-default">
                            {{ projet.langage.nom }}</button>
                    </p>
                    <p>Aide nécessaire : {% include 'ContribuxBundle:Default:aide.html.twig' %}</p>
                    <p>Site web du projet :
                        {% if projet.site=="http://" %}
                        <strong>non indiqué</strong></p>
                    {% else %}
                        <strong> <a href="{{ projet.site }}" target="_blank">{{ projet.site }}</a></strong></p>
                    {% endif %}
                    <p> Catégorie : <strong>{{ projet.categorie.nom }}</strong></p>

                </div>
                <div class="col-md-3">
                    <img class="projet-img" src="{{ asset(projet.pictureName) }}">
                </div>
            </div>
        </div>

    {% endfor %}
    {% include 'ContribuxBundle:Default:pagination.html.twig' %}
{% endif %}


        {#<p>Total : {{ projets.count }}</p>#}




